---
import CardSpotlight from '@/components/ui/card-spotlight'
import { getCollection } from 'astro:content'
import BackToTopButton from '../components/BackToTopButton'
import BaseHead from '../components/BaseHead.astro'
import Body from '../components/Body.astro'
import Breadcrumb from '../components/Breadcrumb.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Masthead from '../components/Masthead.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'

export interface Props {
  category: string
}

const { category } = Astro.props

const posts = (
  await getCollection('blog', ({ data }) => {
    return data.tags?.includes(category)
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={category + ` / ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <Breadcrumb>{category}</Breadcrumb>
        <section class="not-prose">
          <ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
            {
              posts.map((post: any) => (
                <li>
                  <a href={`/blog/${post.id}/`}>
                    <CardSpotlight
                      title={post.data.title}
                      content={post.data.description}
                      date={post.data.pubDate}
                      client:visible
                    />
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
      <BackToTopButton client:idle />
    </main>
    <Footer />
  </Body>
</html>
